@model IEnumerable<WebApplication3.Models.vwInformeTenencia>

@{
    ViewBag.Title = "Tenencia";
}


<div class=" container">
    <div class="col-md-6"><h2>Tenencia  de criptomonedas y tokens en wallets y exchanges</h2></div>
    @*<div class="col-md-push-4 col-md-2 " style="text-align: right;  ">
        <br />
        <a href="~/Exchange/Create" class="btn btn-success" style="vertical-align: sub;">Cargar Exchange</a>
    </div>*@
</div>
<div class="table-responsive container">
    <div class="alert alert-info">
        <p class="">Los calculos se hacen teniendo en cuenta las inversiones "En Proceso" y "Vencidas"</p>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capital)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lugar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @{ string Capital = item.Capital.GetValueOrDefault(0).ToString("C");}
                    @Capital
                    @*@Html.DisplayFor(modelItem => item.Capital)*@
                </td>

                @if (item.Tipo != "Exchange")
                {
                    <td>
                        <a href="~/Wallet/Edit/@item.Lugar"><i class="glyphicon glyphicon-pencil" style="color:#000000 "></i></a> |
                        @*<a href="~/Wallet/Details/@item.Lugar"><i class="glyphicon glyphicon-list" style="color:#000000 "></i></a> |*@
                        <a href="~/Wallet/Delete/@item.Lugar"><i class="glyphicon glyphicon-trash" style="color:#000000 "></i></a>
                    </td>
                }
                else
                {
                    <td>
                        <a href="~/Exchange/Edit/@item.Lugar"><i class="glyphicon glyphicon-pencil" style="color:#000000 "></i></a> |
                        @*<a href="~/Exchange/Details/@item.Lugar"><i class="glyphicon glyphicon-list" style="color:#000000 "></i></a> |*@
                        <a href="~/Exchange/Delete/@item.Lugar"><i class="glyphicon glyphicon-trash" style="color:#000000 "></i></a>
                    </td>
                }

            </tr>
        }

    </table>
</div>