@model WebApplication3.Models.Exchange

@{
    ViewBag.Title = "Eliminar";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <div class="" style="align-content: center; justify-content: center; align-items: center; display: flex;">
        <div class="panel panel-danger " style="width: fit-content;">
            <div class="panel-heading"><h4>Eliminar Exchange</h4></div>
            <div class="panel-body text-center" style="padding-right: 30px; padding-left: 30px;">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="Nombre" class="col-md-4" style="text-align:left;">Nombre</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @Disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Centralizado" class="col-md-4" style="text-align:left;">Centralizado</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Centralizado, new { htmlAttributes = new { @class = "form-control", @Disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Centralizado, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Nacional" class="col-md-4" style="text-align:left;">Nacional</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Nacional, new { htmlAttributes = new { @class = "form-control", @Disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Nacional, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Url" class="col-md-4" style="text-align:left;">Url</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control", @Disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="pull-right" style="padding-right: 15px;">
                            <a href="~/Instrumento/Index" class="btn btn-default">Cancelar</a>
                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
