@model IEnumerable<WebApplication3.Models.Inversion>

@{
    ViewBag.Title = "Index";
    string Estado;
    string EstadoClase;
    string Capital;
    string CapitalObtenido;
    string ResultadoClase;
}

<h2 >Informe de Ganancias</h2>
<div class="alert alert-info">
    <p class="">El informe muestras las ganancias/perdidas de las inversiones realizadas. En caso de que la inversión no haya finalizado se muestran los resultados parciales</p>
</div>
<div class="table-responsive" style="background-color:white;">

    <br />
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Criptomoneda1.Ticker)
            </th>
            <th>
                <strong>Cantidad</strong>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrumento1.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lugar)
            </th>
            <th>
                <strong>Estado</strong>
            </th>
            @*<th>
                <strong>T. Real</strong>
            </th>*@
            <th>
                <strong>F. Inicio</strong>
            </th>
            <th>
                <strong>F. Fin</strong>
            </th>
            <th><strong>Capital Inicial</strong></th>
            <th><strong>Capital Final</strong></th>
            <th><strong>Resultado</strong></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.Finalizado.GetValueOrDefault(false))
            {
                Estado = "Finalizado";
                EstadoClase = "alert alert-warning";

            }
            else
            {


                if (DateTime.Now.Date >= item.FechaFin)
                {
                    Estado = "Vencido";
                    EstadoClase = "alert alert-danger";
                }
                else
                {
                    Estado = "Vigente";
                    EstadoClase = "alert alert-success";

                }
            }

            //Armado de formato de moneda
            Capital = (item.PrecioInicio.GetValueOrDefault(0) * item.CantidadInvertida).ToString("C");
            CapitalObtenido = (item.PrecioFin.GetValueOrDefault(0) * (item.CantidadInvertida + item.CantidadGanada.GetValueOrDefault(0))).ToString("C");
            //Capital = Capital.ToString("C");
            //Calculo de Resultados
            double ResultadoInicial = item.CantidadInvertida * item.PrecioInicio.GetValueOrDefault(item.Criptomoneda1.Precio);
            double ResultadoFinal = (item.CantidadInvertida + item.CantidadGanada.GetValueOrDefault(0)) * item.PrecioFin.GetValueOrDefault(item.Criptomoneda1.Precio);
            double Resultado = ResultadoFinal - ResultadoInicial;
            if (Resultado > 0)
            {
                ResultadoClase = "text-success";
            }
            else {
                ResultadoClase = "text-danger";
            }

            <tr class="">
                <td>
                    @Html.DisplayFor(modelItem => item.Criptomoneda1.Ticker)
                </td>
                <td>
                    @(item.CantidadInvertida.ToString("n"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instrumento1.Nombre)
                </td>
                <td>
                    @if (item.NuevaTenencia.Wallet is null)
                    {
                        @Html.DisplayFor(modelItem => item.NuevaTenencia.Exchange)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.NuevaTenencia.Wallet)

                    }
                </td>
                <td class="@EstadoClase">
                    <strong>@Estado</strong>
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.TasaReal) %
                </td>*@
                <td>
                    @(item.FechaInicio.ToShortDateString())
                </td>
                <td>
                    @(item.FechaFin.HasValue ?  item.FechaFin.Value.ToShortDateString() : "")
                </td>
                <td>
                    @Capital
                </td>
                <td>
                    @*@(Estado == "Vigente" ? 0.ToString("n") : CapitalObtenido )*@
                    @CapitalObtenido
                </td>
                <td>
                    <p class="@ResultadoClase" style="margin-bottom: 0px;">@Resultado.ToString("C")</p>
                </td>
            </tr>
        }

    </table>
</div>