@model IEnumerable<WebApplication3.Models.Instrumento>

@{
    ViewBag.Title = "Instrumentos";
}

<div class=" container">
    <div class="col-md-6"><h2>Instrumentos de inversión</h2></div>
    <div class="col-md-push-4 col-md-2 " style="text-align: right;  ">
        <br />
        <a href="~/Instrumento/Create" class="btn btn-success" style="vertical-align: sub;">Cargar Instrumento</a>
    </div>
</div>
<div class="table-responsive container">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bloqueado)
            </th>
            <th>
                <strong>Paga Intereses</strong>
            </th>
            <th>
                <strong>Interés Fijo</strong>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td class="" style="padding-top: 0px; padding-bottom: 0px;">
                    <input type="checkbox" class="item-checkbox" disabled checked="@item.Bloqueado" style=" " />
                </td>
                <td class="" style="padding-top: 0px; padding-bottom: 0px;">
                    <input type="checkbox" class="item-checkbox" disabled checked="@item.PagoDeInteres" style=" " />
                </td>
                <td class="" style="padding-top: 0px; padding-bottom: 0px;">
                    <input type="checkbox" class="item-checkbox" disabled checked="@item.InteresFijo" style=" " />
                <td>
                    <a href="~/Instrumento/Edit/@item.Nombre"><i class="glyphicon glyphicon-pencil" style="color:#000000 "></i></a> |
                    <a href="~/Instrumento/Delete/@item.Nombre"><i class="glyphicon glyphicon-trash" style="color:#000000 "></i></a>
                </td>
            </tr>
        }

    </table>

</div>
