@model IEnumerable<WebApplication3.Models.Tenencia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th><strong>Nombre:</strong></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lugar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Lugar }) |
            @Html.ActionLink("Details", "Details", new { id=item.Lugar }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Lugar })
        </td>
    </tr>
}

</table>
